@model Webshop.Models.Ticket
@{
    ViewBag.Title = "Contact";
}
<h2>
    @ViewBag.Message
</h2>
<div class="contact-div">
    <fieldset>
        <legend>
            <h2>
                Contact
            </h2>
        </legend>
        <section class="contact">
            <header>
                <h3>Phone</h3>
            </header>
            <p>
                <span class="label">Main:</span>
                <span>425.555.0100</span>
            </p>
            <p>
                <span class="label">After Hours:</span>
                <span>425.555.0199</span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Email</h3>
            </header>
            <p>
                <span class="label">Support:</span>
                <span><a href="mailto:Support@example.com">Support@example.com</a></span>
            </p>
            <p>
                <span class="label">Marketing:</span>
                <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
            </p>
            <p>
                <span class="label">General:</span>
                <span><a href="mailto:General@example.com">General@example.com</a></span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Address</h3>
            </header>
            <p>
                One Microsoft Way<br />
                Redmond, WA 98052-6399
            </p>
        </section>
    </fieldset>
</div>
<div class="ticket-div">
    <fieldset>
        <legend>
            <h2>
                Create Ticket
            </h2>
        </legend>
        @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
        {
            @Html.Raw("Subject: ") <br />
            <input id="TicketTitle" type="text" value="" name="TicketTitle" size="50"> <br />
            @Html.Raw("Message:");<br />
            <textarea name ="TicketBody" rows="18" cols ="50"></textarea> <br />

            <input type="submit" value="Submit ticket" />
        }
    </fieldset>
</div>