#container {
    width:1024px;
}

#header {

}

.header_title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}


#header_menu_and_login {

}

#header_login_register {
    width: 30%;
    float: left;
}
#header_login_login {
    width: 30%;
    float: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header_menu_item {
    width: 30%;
    float: left;
}

.subcat1 {
    padding-left:15px;
}
.subcat2 {
    padding-left:30px;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */