#container {
    width:1024px;
    margin-left: auto ;
    margin-right: auto ;
}

#header {

}

.header_title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.header-login-register-wrapper {
    float:right;
    text-align:right;
    overflow: hidden;
}

.header-welcome-or-register {
    width: 50%;
    float:left;
}

.header-login-or-logout {
    overflow: hidden;
}

.header-menu {
    width: 100%;
    margin: 20px 0px 10px 0px;
}

.header-menu-item {
    width:32%;
    float:left;
    text-align:center;
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.5em;
}

#header_login_register {
    width: 30%;
    float: left;
}
#header_login_login {
    width: 30%;
    float: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header_menu_item {
    width: 30%;
    float: left;
}

#sidebar-categories {
    height:100%;
}

.subcat1 {
    padding-left:15px;
}
.subcat2 {
    padding-left:30px;
}

#priceText {
    font-size: 30px;
    color: #AD0109;
    text-align: center;
}

.desc-image-price-wrapper {
    width: 100%;
    overflow: hidden;
}

.product-desc-div {
    width: 75%;
    float:left;
}

.product-image-price-div {
    overflow: hidden;
}

.product-properties-div {
    margin: 50px 0px 50px 0px;
    width: 75%;
    margin-left: auto ;
    margin-right: auto ;
}

.product-propertie-table {
    border: 1px solid black;
}

.product-table {
    width: 80%;
    margin-left: auto ;
    margin-right: auto ;
    border-collapse:collapse;
}

.product-table-even-row {
    background-color: #fff;
}

    .product-table-even-row:hover {
        background-color: #ddd;
        cursor:pointer;
    }

.product-table-odd-row {
    background-color: #eee;
}

    .product-table-odd-row:hover {
        background-color: #ddd;
        cursor:pointer;
    }

.product-pages-table {
    margin-left: auto ;
    margin-right: auto ;
    text-align: center;
}

.shoppingcart-image {
    background: url("/Images/shoppingBasket.png") no-repeat center right;
    display:block; 
    width:62px;
    height:50px; 
    
}

.copyright {
    text-align: center;
}


/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */