#container {
    width:1024px;
    margin-left: auto ;
    margin-right: auto ;
}

#header {

}

.header_title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}


#header_menu_and_login {

}

#header_login_register {
    width: 30%;
    float: left;
}
#header_login_login {
    width: 30%;
    float: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header_menu_item {
    width: 30%;
    float: left;
}

.subcat1 {
    padding-left:15px;
}
.subcat2 {
    padding-left:30px;
}

#priceText {
    font-size: 30px;
    color: #AD0109;
    text-align: center;
}

.desc-image-price-wrapper {
    width: 100%;
    overflow: hidden;
}

.product-desc-div {
    width: 75%;
    float:left;
}

.product-image-price-div {
    overflow: hidden;
}

.product-properties-div {
    margin: 50px 0px 50px 0px;
    width: 75%;
    margin-left: auto ;
    margin-right: auto ;
}

.product-propertie-table {
    border: 1px solid black;
}

.copyright {
    text-align: center;
}


/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */